.about {
	padding-top: res(50px, 70px);
	padding-bottom: 30px;

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		@media (width <= 920px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__title {
		max-width: 480px;
		font-size: res(28px, 30px);
		line-height: 114%;
		margin-bottom: 15px;
	}

	&__info {
		line-height: res(28px, 30px);
		font-weight: 400;
		color: #7a7a7a;
		font-size: res(16px, 17px);
		strong {
			font-weight: 700;
		}
		p {
			&:first-child {
				margin-bottom: 20px;
			}
		}
	}

	&__photo {
		max-width: 617px;
		@media (width <= 920px) {
			margin-inline: auto;
		}
		&-descr {
			font-weight: 400;
			color: #7a7a7a;
			text-align: center;
			padding: 15px;
			font-size: 14px;
		}
	}

	&__video {
		@media (width <= 640px) {
			max-width: 407px;
			margin-inline: auto;
		}
		&-title {
			font-size: 15px;
			font-style: italic;
			font-weight: 600;
			@media (width <= 920px) {
				text-align: center;
			}
		}
	}

	&__videos {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-top: 37px;
		@media (width <= 640px) {
			display: flex;
			flex-direction: column;
		}
	}
}

.advantages {
	padding-top: 43px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 48px;
	@media (width <= 1100px) {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
	&__item {
		line-height: 27px;
		font-size: res(16px, 17px);
		span {
			font-weight: 900;
			font-size: 35px;
			display: block;
			margin-bottom: 3px;
		}
	}
}

.video__wrap {
	padding-top: 40px;
}