.footer {
	position: relative;
	padding: 30px 0;
	width: 100%;

	&__bg {

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#000, .7);
			z-index: 0;
		}
	}

	&__logo {
		max-width: res(190px, 292px);
		display: block;
	}

	&__inner {
		//display: flex;
		//justify-content: space-between;
		//align-items: center;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		color: var(--color-white);
		@media (width <= 700px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__center {
		text-align: center;
		font-size: 12px;
		align-self: center;
		justify-self: center;
		a {
			text-decoration: underline;
			margin-bottom: 15px;
			display: block;
			font-size: 14px;
		}
	}

	&__social {
		width: 43px;
		height: 43px;
		background: var(--color-accent-2);
		border-radius: 100vh;
		position: relative;
		align-self: center;
		justify-self: flex-end;
		@include d3;
		transition: transform .3s ease-in-out;
		@include hover {
			transform: scale(1.1);
		}
			svg {
				@include abs-center;
				width: 26px;
				height: 26px;
				path {
					fill: var(--color-white);
					width: 26px;
					height: 26px;
				}
			}
	}
}