:root {
	// Colors
	--color-white: #fff;
	--color-black: #000;
	--color-dark: #5D5858;
	--color-dark-blue: #333a4d;
	--color-grey: #F1F1F1;
	--color-accent: #D38F38;
	--color-accent-2: #D7AE7D;
	--color-red: red;

	// Container
	--container-width: 1280px;
	--container-padding-x: 15px;

	// Fonts
	--font: 'Montserrat';

	// Inputs
	--input-height: 48px;

	// Buttons
	--button-height: 48px;

	// Animations
	--transition-duration: 0.3s;
}
